@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background: #ffffff;
  --color-old-rose: #C08081;
  --pc: #ffffff;
}

html.dark {
  --foreground: #ffffff;
  --background: #000000;
  --color-old-rose: #C08081;
  --pc: #000000;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
}

